# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------
title: Patrick Beukema
name: Patrick Beukema 
email: beuk.pat@gmail.com
description: > # this means to ignore newlines until "url:"
  Hello
footer_text: >
  theme by <a href="https://github.com/alshedivat/al-folio">al-folio</a>
# Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.

url: # the base hostname & protocol for your site
baseurl: # the subpath of your site, e.g. /blog/
last_updated: # leave blank if you don't want to display last updated

# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------
github_username: pbeukema # put your github username
#twitter_username: # no twitters
linkedin_username: patrickbeukema # put your linkedin username
scholar_authorid: xm_zIxgAAAAJ&hl # put your google scholar author id
contact_note: >
  

google_analytics: UA-109729453-1 # out your google-analytics code

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------
blog_name: NeuroLogical
blog_description: neuroscience, logic, and ai

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

text:
  pagination:
    newer: 'Newer'
    older: 'Older'

# Comments
disqus_shortname: pbeukema # put your disqus shortname

# Optional features
show_social_icons:  true
enable_anchorjs:    true
enable_katex:       true

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------
collections:
  news:
    defaults:
      layout: post
    output: true
    permalink: /news/:path/
  projects:
    output: true
    permalink: /projects/:path/

news_limit: 5

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings
markdown: kramdown
highlighter: rouge

# Includes
include: ['_pages']

# Gems
gems:
    - jekyll-paginate
    - jekyll/scholar
    - jemoji

# Jekyll-Scholar
scholar:

  last_name: Einstein

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  #bibliography: papers.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "1.12.4"
katex_version: "0.7.1"
anchorjs_version: "3.2.2"
plugins:
  - jekyll-seo-tag
